@use "vars" as *;

#header{
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	@include mq(tb){
		padding: 24px 0;
	}
	.inner{
		position: relative;
		max-width: 1730px;
		@include mq(){
			padding: 0 27px;
		}
	}
	.header-logo{
		display: block;
		position: absolute;
		@include v-align;

		width: 212px;
		left: 15px;
		z-index: 999;
		@include mq(tb){
			width: 128px;
			position: relative;
			left: auto;
			top: auto;
			transform: translateY(0);
		}
	}
	.header-note{
		position: absolute;
		@include v-align;
		right: 15px;
		@include flex(end,center,wrap);
		@include mq(tb){
			right: 66px;
		}
		&__login{
			display: block;
			@include font-size(18);
			font-weight: bold;
			color: #303030;
			background: $green;
			border-radius: 40px;
			padding: 7px 15px;
			text-transform: uppercase;
			margin: 0 0 0 15px;
			cursor: pointer;
			@include smooth-transition;
		}
	}
	.header-search{

		&__open{
			width: 24px;
			height: 24px;
			cursor: pointer;
			@include smooth-transition;
			@include flex(center,center);
			text-align: center;
		}
		&--custom{
			position: fixed;
			top: -100px;
			left: 0;
			right: 0;
			height: 80px;
			z-index: 9999;
			padding: 0 15px;
			background: white;
			@include flex(center,center,wrap);
			@include smooth-transition;
			@include mq(tb){
				height: 64px;
				padding: 0 50px 0 15px;
			}
			&.active{
				top: 90px;
				@include mq(tb){
					top: 70px;
				}
			}
		}
		&__box{
			width: 100%;
			max-width: 900px;
			margin: 0 auto;
			position: relative;
			@include font-size(18);
			&-btn{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 50px;
				@include flex(center,center);
				border: none;
				outline: none;
				cursor: pointer;
				background: none;
			}
			&-input{
				width: 100%;
				border: 1px solid #ccc;
				padding: 0 10px;
				height: 50px;
				@include mq(tb){
					height: 40px;
				}
			}
		}
		&__close{
			width: 30px;
			height: 30px;
			@include flex(center,center);
			cursor: pointer;
			right: 20px;
			position: absolute;
			@include v-align;
			@include mq(tb){
				right: 10px;
				width: 20px;
				height: 20px;
			}
			&:hover{
				opacity: 0.7;
			}
			span{
				width: 100%;
				height: 2px;
				background-color: transparent;
				position: relative;
				&:before,&:after{
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					background: #797978;
					content: '';
					-webkit-transition: -webkit-transform 0.3s;
					transition: transform 0.3s;
					border-radius: 3px;
				}
				&:before{
					-webkit-transform: translateY(-250%);
					transform: translateY(-250%);
					top: -2px;
				}
				&:after{
					-webkit-transform: translateY(250%);
					transform: translateY(250%);
					bottom: -2px;
				}

				&:before,&:after{
					width: 100%;
					background: #797978;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
	.header-language{
		line-height: 1;
		margin: 0 0 0 17px;
		position: relative;
		@include font-size(18);
		font-weight: bold;
		color: #828181;
		a{
			display: block;
			color: #828181;
		}

		&__curent{
			display: block;
			position: relative;
			border: 1px solid #D9D9D9;
			padding: 10px 16px 10px 41px;
			border-radius: 40px;
			@include mq(tb){
				padding: 7px 16px 7px 35px;
			}
			&:before{
				content: "";
				width: 20px;
				height: 20px;
				background: url("../img/common/language.svg")no-repeat;
				background-size: 100%;
				position: absolute;
				@include v-align;
				left: 8px;
			}
		}
		&__list{
			position: absolute;
			top: calc(100% + 30px);
			background: white;
			left: 0;
			right: 0;
			box-shadow: 0 0 10px 0 rgba(black,0.16);
			padding: 10px 15px;
			border-radius: 10px;
			display: none;
			li{
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					display: block;
					font-weight: 500;
				}
			}
		}
	}
	.header-nav{
		@include mq(tb-min){
			display: block !important;
			opacity: 1 !important;
		}
		@include mq(tb){
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			padding: 60px 20px ;
			overflow-y: scroll;
			background: white;
			&.active{
				display: block;
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			@include mq(tb){
				display: block;
			}
			&-item{
				position: relative;
				>a{
					display: block;
					@include font-size(18);
					font-weight: 500;
					color: #828181;
					padding: 37px 25px;
					position: relative;
					@include mq(tb){
						text-align: right;

						padding: 10px;
					}
					@include mq(tb-min){
						&:before {
							position: absolute;
							@include smooth-transition;
							content: '';
							width: 0;
							left: 50%;
							bottom: 25px;
							height: 2px;
							background: $green;
						}
						&:hover, &.active {
							&:before {
								width: 100%;
								left: 0;
							}
						}
					}
				}
				.header-nav__menu-has{
					position: relative;
					@include mq(tb-min){
						@include flex(center,center,wrap);
						&:after{
							content: "";
							border: solid #1E1E1E;
							border-width: 0 1px 1px 0;
							display: inline-block;
							padding: 3px;
							transform: rotate(45deg);
							margin: 0 0 0 10px;
						}
					}
					@include mq(tb){
						padding-right: 38px;
					}
				}
				&:hover{
					ul{

						@include mq(tb-min){
							display: block;
						}
					}
				}
			}
		}
		&__sub{
			display: none;
			@include mq(tb){
				@include flex(center,center);
				width: 40px;
				height: 40px;
				position: absolute;
				top: 0;
				right: 0;
				&:after{
					content: "";
					border: solid #1E1E1E;
					border-width: 0 1px 1px 0;
					display: inline-block;
					padding: 3px;
					transform: rotate(45deg);
					margin: 0 0 0 10px;
				}
				&.active{
					padding-top: 9px;
					&:after{
						border: solid #1E1E1E;
						border-width: 0 1px 1px 0;
						transform: rotate(-135deg);
					}
				}
			}
		}
		&__submenu{
			position: absolute;
			top: 100%;
			background: white;
			border: 1px solid #ccc;
			padding: 15px ;
			min-width: 200px;
			display: none;
			border-radius: 10px;
			@include mq(){
				border-radius: 0;
				position: static;
				border: none;
				text-align: right;
				padding: 0 0 20px;
			}
			li{
				margin-bottom: 5px;
				&:last-child{
					margin-bottom: 0;
				}
				a{
					display: block;
					@include font-size(16);
					font-weight: 500;
					color: #828181;
				}
			}
		}
	}
	.js-mobile {
		width: 26px;
		height: 30px;
		position: absolute;
		right: 20px;
		@include v-align;
		cursor: pointer;
		z-index: 12;
		display: none;
		@include mq(tb){
			display: block;
		}
		span{
			position: absolute;
			@include v-align;
			display: block;
			width: 100%;
			height: 2px;
			background: #797978;
			border-radius: 3px;
			&:before,&:after{
				position: absolute;
				left: 0;
				width: 100%;
				height: 100%;
				background: #797978;
				content: '';
				-webkit-transition: -webkit-transform 0.3s;
				transition: transform 0.3s;
				border-radius: 3px;
			}
			&:before{
				-webkit-transform: translateY(-250%);
				transform: translateY(-250%);
				top: -2px;
			}
			&:after{
				-webkit-transform: translateY(250%);
				transform: translateY(250%);
				bottom: -2px;
			}
		}
		&--close {
			span{
				background-color: transparent;
				&:before,&:after{
					width: 100%;
					background: #797978;
				}
				&:before {
					-webkit-transform: translateY(0) rotate(45deg);
					transform: translateY(0) rotate(45deg);
					top: 2px;
				}
				&:after {
					-webkit-transform: translateY(0) rotate(-45deg);
					transform: translateY(0) rotate(-45deg);
					bottom: -2px;
				}
			}
		}
	}
}


.js-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}