@use "vars" as *;

.sec-mv{
	margin-bottom: 50px;
	.inner{
		width: 100%;
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		@include mq(sm){
			position: static;
		}
	}
	.ttl-page{
		display: block;
		text-transform: uppercase;
		position: absolute;
		left: 15px;
		right: 15px;
		padding: 0 19vw 0 0;
		@include v-align;
		font-size: clamp(3.2rem,4.791vw,9.2rem);
		font-weight: bold;
		color: white;
		text-align: center;
		@include mq(){
			top: 62%;
			text-align: left;
		}
	}
}
.mv-banner{
	img{
		width: 100%;
		height: 100vh;
		@include ob;
		@include mq(sm){
			height: auto;
		}
	}
}
.mv-note{
	background: #97CC6D;
	color: white;
	border-radius: 24px;
	font-size: 3.2rem;
	line-height: 1.1875;
	font-weight: bold;
	max-width: 650px;
	padding: 44px 60px;
	@include mq(sm){
		margin: 0 -15px;
		border-radius: 0;
		padding: 30px;
	}
	&__ttl{
		display: block;
		@include font-size(42);
		font-weight: bold;
		margin-bottom: 10px;
		@include mq(){
			@include font-size(24);

		}
	}
	p{
		margin-bottom: 10px;
	}
	a{
		display: inline-block;
		color: white;
		@include font-size(24);
		position: relative;
		padding: 0 24px 0 0;
		@include mq(){
			@include font-size(18);
			font-weight: 500;
			padding: 0 35px 0 0;
		}
		&:after{
			content: "";
			border: solid white;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 5px;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			position: absolute;
			top: 10px;
			right: 0;
			@include mq(){
				top: 6px;
			}
		}
	}
}

.fill-img{
	@include flex(0,0,wrap);
	margin: 0 -10px;
	&__item{
		width: 25%;
		padding: 0 10px;
		margin-bottom: 20px;
	}
	&__img{
		position: relative;
		border-radius: 24px;
		overflow: hidden;
		&:before{
			content: "";
			display: block;
			padding: 75%  0 0;
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			@include ob;
		}
	}
}

.tab-menu{
	@include flex(0,0,wrap);
	margin-bottom: 30px;
	li{
		@include font-size(18);
		font-weight: 500;
		border: 1px solid #C6C6C6;
		border-radius: 40px;
		margin-right: 15px;
		cursor: pointer;
		padding: 5px 15px;
		@include smooth-transition;
		&:last-child{
			margin-right: 0;
		}
		&.active,&:hover{
			background: $green;
			border: 1px solid $green;
			color: #303030;
		}
	}
}
.tab-content{
	margin-bottom: 30px;
	&__item{
		display: none;
		&.active{
			display: block;
		}
	}
}


.sec-article{
	padding: 150px 0 50px;
	@include mq(){
		padding: 100px 0 50px;
	}
	.inner{
		max-width: 1230px;
	}
}

.article-block{
	@include fts(18,24);
	font-weight: 500;
	color: #797978;
	max-width: 777px;
	margin: 0 auto 80px;
	@include mq(){
		@include fts(14,20);
		margin-bottom: 40px;
	}
	h1,h2,h3,h4,h5,h6{
		display: block;
		font-weight: bold;
	}
	img{
		border-radius: 20px;
		width: auto;
		height: auto;
		margin-bottom: 20px;
	}
	&__date{
		display: block;
		text-align: center;
		margin-bottom: 15px;
		@include mq(){
			@include font-size(18);
		}
	}
	&__note{
		background: #F2FFE8;
		border-radius: 10px;
		padding: 15px 20px;
		@include flex(0,0,wrap);
		color: black;
		margin-bottom: 25px;
		@include mq(){
			@include font-size(10);
		}
		&-ttl{
			display: block;
			width: 100px;
			@include mq(){
				width: 60px;
			}
		}
		&-ct{
			width: calc(100% - 100px);
			@include mq(){
				width: calc(100% - 60px);
			}
			ul{
				li{
					a{
						display: block;
						color: #5188E6;
					}
				}
			}
		}
	}
	h1{
		@include fts(42,48);
		margin-bottom: 15px;
		@include mq(){
			@include fts(32,38);
			text-align: center;
		}
	}
	h2{
		@include font-size(32);
		margin-bottom: 20px;
		@include mq(){
			@include font-size(24);
		}
	}
	h3{
		@include font-size(24);
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 15px;
	}
	small{
		display: block;
		@include font-size(10);
		font-weight: 400;
		text-align: center;
	}
}