<header id="header">
	<div class="inner">
		<a href="<%= RELATIVE_PATH %>" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/common/header-logo.svg" alt="3CGROUP">
		</a>
		<nav class="header-nav">
			<ul class="header-nav__menu">
				<li class="header-nav__menu-item">
					<a href="">Trang chủ</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Trò chơi</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Nạp</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Tin tức</a>
				</li>
			</ul>
		</nav>
		<div class="header-note">
			<div class="header-search">
				<span class="header-search__open">
					<img src="<%= RELATIVE_PATH %>img/common/icon-search.svg" alt="search">
				</span>
			</div>
			<div class="header-language">
				<span class="header-language__curent">VI</span>
				<ul class="header-language__list">
					<li><a href="">EN</a></li>
					<li><a href="">CHI</a></li>
				</ul>
			</div>
			<a href="" class="header-note__login">
				Đăng Nhập
			</a>
		</div>
	</div>
	<div class="header-search--custom">
		<div class="header-search__box">
			<input type="text" class="header-search__box-input">
			<button type="button" class="header-search__box-btn">
				<img src="<%= RELATIVE_PATH %>img/common/icon-search.svg" alt="search">
			</button>
		</div>
		<span class="header-search__close">
			<span></span>
		</span>
	</div>
	<span class="js-mobile">
			<span></span>
		</span>
</header>